{% extends "base.html" %}

{% block content %}
<div><img src="../static/img/MARS-2-7.png" alt="Картинку сперли">
    {{title}}
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_astr.label }}<br>
        {{ form.id_astr(class="form-control") }}<br>
        {% for error in form.id_astr.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_kap.label }}<br>
        {{ form.id_kap(class="form-control") }}<br>
        {% for error in form.id_kap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_kap.label }}<br>
        {{ form.password_kap(class="form-control", type="password") }}<br>
        {% for error in form.password_kap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}